
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    margin-left: auto;
    margin-right: auto; 
}


/* mobile version */

p {
    color: #323A45;
    font-size: 1em;
}

main a {
    font-size: 1em;
} 

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    margin-top: 20px;
    align-items: baseline;
   
}

.nav {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

ul li {
    display: none;
}

ul :nth-child(4) {
    display: initial;
    margin-left: 95%;
    margin-right: auto;
}
/* main */



.items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(33, 550px );
}

img {
   width: 100%;
   height: 80%;
   object-fit: cover;
}

.item img:hover {
    opacity: 0.5;
}


nav a{
    display: none;
}

nav img {
    height: 20px;
    width: 20px;
    float: right;
}


a {
    text-decoration: none;
    color: black;
}

/* Eigene Klasse für Artikelbeschreibung (text) und Price, damit es im grid nebeneinander steht */

.text_price {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 2em;
    align-items: flex-start;
    justify-content: flex-end;
}

.text_price a {
    grid-column:  1/2;
    grid-row: 1/2;
    color: #323A45;
    
} 

.text_price p {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    margin: 0;

}

.label {
    color: #848484;
    margin-top: 0;
}

#margin {
    margin-top: 25px;
}




/* footer */



.small, .small a  {
    color: #323A45;
    font-weight: lighter;
    text-decoration: none;
}


h3 {
    margin-bottom: 40px;
    margin-top: 40px;
}

#copyright {
    color: #848484;
    margin-top: 8vh;
}

/* ipad-version */

@media only screen and (min-width: 768px) {
   
   
    body {
    background: white;
   }

   #margin {
       margin: 0;
   }
    
   ul li {
    display: initial;
    }

    ul :nth-child(4) {
    display: none;
    }



    header {
        margin-left: 4%;
        margin-right: 4%;

    }
    .items {
        margin-left: 4%;
        margin-right: 4%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(14, 1fr);
        gap: 20px;
        overflow: hidden;
    }
  
    .items :nth-child(1) {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .items :nth-child(8) {
        grid-column: 1/4;
        grid-row: 4/5;
    }

    .items :nth-child(15) {
        grid-column: 1/4;
        grid-row: 7/8;
    }
    .items :nth-child(20) {
        grid-column: 1/4;
        grid-row: 10/11;
    }
    .items :nth-child(27) {
        grid-column: 1/4;
        grid-row: 13/14;
    } 
 

   footer {
       margin-left: 4%;
       display: grid;
       grid-template-columns: 1.5fr 1fr 1.5fr 1fr;
       grid-template-rows: 1fr;
   }
    #copyright {
        margin-left: 4%;
    }

}

